doctype html
html
  head
    meta(charset='utf-8')
    title
      = page.metadata.title
      | : CSS Testing : 
      = page.metadata.section
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='/images/favicon.png', rel='shortcut icon', type='image/png')
    link(href='http://fonts.googleapis.com/css?family=Arvo:700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='/styles/main.css')
    link(rel='stylesheet', type='text/css', href='/styles/prism.css')
  body(class=page.metadata.section)
    header
      .contain
        block header
          h1
            a(href='/') csste.st
          h2 The why and how of CSS testing.
      include navigation
    .contain
      section
        block content
          != page.html
    footer
      block footer
        p Curated by 
          a(href='http://twitter.com/thingsinjars') Simon Madine 
          | with help from 
          a(href='https://github.com/thingsinjars/csstest/graphs/contributors') these lovely people 
          | .
    script(src='/scripts/prism.js')
    script(src='/scripts/prism.gherkin.js')