nav
  ul
    li.techniques-nav
      a(href='/techniques/') Techniques
    li.tools-nav
      a(href='/tools/') Tools
    li.guides-nav
      a(href='/guides/') Guides
    li.getting-started-nav
      a(href='/getting-started/') Getting started
  p
   | This site is a constant work in progress. If you want to help out, 
   a(href='https://github.com/thingsinjars/csstest') fork the project 
   | or 
   a(href='https://github.com/thingsinjars/csstest/issues') file an issue
   |.
  p If you're new to CSS testing, please 
   a(href='http://csste.st/guides/videos/') watch the videos
   |. 