html {
  height: 100%; }

body {
  min-height: 100%;
  position: relative; }

html, body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background: white;
  color: #444; }

/* Fonts */
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 92px;
  margin: 0 0 0 23px;
  line-height: 1;
  color: white;
  text-shadow: 0 0 16px black;
  font-weight: 100; }

a {
  color: #2980b9; }

a:hover {
  color: #e74c3c; }

h1 a {
  text-decoration: none;
  color: white; }

h2, h3, h4 {
  font-family: "Source Sans Pro", sans-serif;
  margin: 23px 23px 0 23px; }

/* Layout */
header {
  border-bottom: 1px solid #000;
  background-image: url(/images/tools.jpg);
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.4))), url(/images/tools.jpg);
  padding-top: 70px;
  background-size: cover;
  background-position: 50%;
  height: 181px; }
  header h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 43px;
    font-weight: 200;
    margin: 0 0 21px 23px;
    color: white;
    background: black;
    display: inline-block;
    letter-spacing: 2px; }

nav {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 250px;
  min-height: 500px;
  width: 184px; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  nav li {
    list-style: none;
    border-bottom: 1px solid #494846;
    background: white;
    transition: margin cubic-bezier(0.175, 0.885, 0.32, 1.275) 200ms; }
    nav li a {
      color: #000;
      text-decoration: none;
      padding: 21px 13px;
      display: block;
      text-align: right; }
  nav p {
    color: #777777;
    margin: 10px;
    font-style: italic; }

section {
  width: 740px;
  padding-bottom: 50px; }
  section h2 {
    border-bottom: 1px solid #444; }
  section p {
    margin: 0 23px 30px 23px;
    line-height: 1.8;
    font-size: 1.1em; }
  section pre[class*="language-"] {
    margin: 0 23px 30px 23px; }
  section code {
    text-shadow: none; }

li p {
  margin: 0; }

p img {
  max-width: 100%; }

p code {
  color: #2980b9;
  display: inline-block;
  padding: 0 3px;
  margin: 0 3px;
  background: #eee; }

.techniques .techniques-nav, .tools .tools-nav, .guides .guides-nav, .getting-started .getting-started-nav {
  margin: -1px 0 0 25%;
  border-top: 1px solid #000;
  background: #ddd; }

nav li:hover {
  background: #eee;
  margin-left: 20%; }

nav li:active {
  background: #eee;
  margin-left: 25%; }

.contain {
  margin: 0 auto;
  width: 1020px; }

footer {
  text-align: center;
  border-top: 1px solid #959490;
  position: absolute;
  width: 100%;
  bottom: 0px;
  background: #fafafa;
  height: 50px; }

@media screen and (max-width: 850px) {
  header {
    margin-top: 40px;
    padding-top: 10px; }

  nav {
    top: -41px;
    min-height: auto;
    width: 100%;
    left: 0;
    margin-left: 0; }
    nav ul {
      overflow: hidden; }
      nav ul li {
        float: left;
        width: 25%;
        height: 40px;
        transition: margin cubic-bezier(0.175, 0.885, 0.32, 1.275) 200ms, border-width cubic-bezier(0.175, 0.885, 0.32, 1.275) 200ms; }
        nav ul li:hover {
          border-bottom: 10px solid black;
          margin: -9px 0 0 0;
          line-height: 30px; }
        nav ul li a {
          padding: 10px 0;
          text-align: center; }

  .techniques .techniques-nav, .tools .tools-nav, .guides .guides-nav, .getting-started .getting-started-nav {
    margin: -9px 0 0 0;
    border-bottom: 10px solid black;
    line-height: 30px; }

  .contain, section {
    width: 100%; }

  header h2 {
    margin: 0;
    padding: 0 10px; }

  nav p {
    display: none; } }
@media screen and (max-width: 400px) {
  nav ul li {
    font-size: 15px; } }
