html, body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background: url(../images/bg.png);
  color: #444444;
  text-shadow: 1px 1px 0 white; }

/* Fonts */
h1 {
  font-family: "Arvo", serif;
  font-size: 52px;
  margin: 13px 0 0 23px;
  line-height: 1; }

a {
  color: #a0410d; }

h1 a {
  text-decoration: none; }

h2, h3, h4 {
  font-family: "Arvo", serif;
  margin: 23px 23px 0 23px; }

/* Layout */
header {
  border-bottom: 1px solid #959490; }
  header h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 43px;
    font-weight: 200;
    margin: 0 0 21px 23px; }

nav {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 250px;
  background: url(../images/nav-bg.png);
  min-height: 500px;
  width: 184px; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  nav li {
    list-style: none;
    border-bottom: 1px solid #494846;
    box-shadow: 0 1px 0 #b9b3a8; }
    nav li a {
      font-family: "Arvo", serif;
      font-size: 19px;
      font-weight: bold;
      color: #f7ecd8;
      text-shadow: -1px -1px 0 black;
      text-decoration: none;
      padding: 20px 13px;
      display: block; }
  nav p {
    color: white;
    text-shadow: 1px 1px 0 black;
    margin: 10px; }
  nav p a {
    color: #f7ecd8; }

section {
  width: 640px; }
  section p {
    margin: 0 23px 30px 23px;
    line-height: 1.8; }
  section pre[class*="language-"] {
    margin: 0 23px 30px 23px; }
  section code {
    text-shadow: none; }

li p {
  margin: 0; }

p img {
  max-width: 100%; }

.techniques .techniques-nav, .tools .tools-nav, .guides .guides-nav, .getting-started .getting-started-nav {
  background: #827B00;
  margin: -1px 0 0 0;
  border-bottom-color: #4f4b00;
  box-shadow: none;
  border-top: 1px solid #b5ab00; }

.contain {
  margin: 0 auto;
  width: 920px; }

footer {
  text-align: center;
  border-top: 1px solid #959490; }
